
<!--==============================header=================================-->
        <header>
            <h1><a href="/">BITCOINPANDORA</a></h1>
            <div class="links-1">
            	<strong class="text-1">Choose your Room</strong>
                <strong class="text-2">And take a seat</strong>
            </div>
            <a href="mailto:bitcoindrop@neomailbox.ch" class="links-2">
            	<strong class="text-1">NEED HELP?</strong>
                <strong class="text-2">Support</strong>
            </a>
        </header>
<!--==============================End header=================================-->