<section id="content">
	<div class="padding-content">
		<div class="container_12">
			<div class="wrapper">
				<article class="grid_12">
					<h3 class="p3">How to Play Bitpandora</h3>
					<span class="color-2">Important to know</span>
					<p class="">Only use wallets that allow you to receive Bitcoin
						from the same address you sent from. If you're not sure, test by
						sending a bet for the minimum amount. If you get nothing back,
						then your wallet is not compatible. Note that some bets may
						require one confirmation before the win/loss value is sent back.</p>
					<span class="color-2">Lorem ipsum dolor sit amet,
						consectetuer adipiscing elit. Aenean nonummy hendrerit mauris.</span>
					<p class="">Phasellus porta. Fusce suscipit varius mi. Cum
						sociis natoque penatibus et magnis dis parturient montes, nascetur
						ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc
						odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique
						orci ac sem. Duis ultricies pharetra magna. Donec accumsan
						malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet,
						consectetuer adipiscing elit.</p>
					<span class="color-2">Aenean auctor wisi et urna. Aliquam
						erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</span>
					<p class="">Phasellus porta. Fusce suscipit varius mi. Cum
						sociis natoque penatibus et magnis dis parturient montes, nascetur
						ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc
						odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique
						orci ac sem. Duis ultricies pharetra magna. Donec accumsan
						malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet,
						consectetuer adipiscing elit.</p>
					<span class="color-2">Pellentesque sed dolor. Fusce euismod
						consequat ante. Lorem ipsum dolor sit amet, consectetuer
						adipiscing elit.</span>
					<p class="">Aliquam congue fermentum nisl. Mauris accumsan
						nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla
						venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut,
						ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor,
						lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum
						sed ante. Donec sagittis euismod purus. Nulla venenatis.
						Vestibulum sed ante. Donec sagittis euismod purus.</p>
					<span class="color-2">Praesent vestibulum molestie lacus.
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
					<p class="">Phasellus porta. Fusce suscipit varius mi. Cum
						sociis natoque penatibus et magnis dis parturient montes, nascetur
						ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc
						odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique
						orci ac sem. Duis ultricies pharetra magna. Donec accumsan
						malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet,
						consectetuer adipiscing elit.</p>
				</article>
			</div>
		</div>
	</div>
</section>
<!--==============================End content================================-->
