<section id="content">
	<div class="padding-content">
		<div class="container_12">
			<div class="wrapper">
				<article class="grid_12">
					<h3 class="p3">How to Play Bitpandora</h3>
					<span class="color-2">Important to know</span>
					<p class="">IMPORTANT: Only use wallets that allow you to
						receive Bitcoin from the same address you sent from. If you're not
						sure, test by sending a bet for the minimum amount. If you get
						nothing back, then your wallet is not compatible. Note that some
						bets may require one confirmation before the win/loss value is
						sent back.</p>
					<p class="">Pandora was the first human woman created by the
						deities, specifically by Hephaestus and Athena on the instructions
						of Zeus. As Hesiod related the Pandora myth, each of the deities
						helped create her by giving her unique gifts. Zeus ordered
						Hephaestus to mold her out of earth as part of the punishment of
						humanity for Prometheus' theft of the secret of fire, and all of
						them joined in offering her "seductive gifts." BitcoinPandora is
						different. This young beautiful lady respects all players. She
						puts all of your bitcoins in her treasure box. She decides, she
						rules your bitcoins ! Tread her with respect... But don't fall in
						love, and don't forget it's only a game ! Choose your box and then
						your seat ! Wait till its filled with all players and let Pandora
						do her work !</p>
					<p class="">There is thus an answering transaction for each bet
						and normally you see that transaction in your client after a few
						seconds.</p>
					<span class="color-2">Delays</span>
					<p class="">If there is a problem with the software there might
						be delays in processing bets or creating return transactions. A
						transaction will always be evaluated with the date of when it was
						first seen by the software. This means if your transaction comes
						in on the 1st, the software will tag the transaction with that
						date. Then if the transaction fails and the program explodes, and
						it's not fixed until the 2nd, your transaction will still use the
						1st for the purpose of lucky number selection. Be sure to include
						the 0.0005btc fee in your bid transaction to help ensure fast
						response.</p>
					<span class="color-2">Problems</span>
					<p class="">Use our email for contact !</p>
					<span class="color-2">Transaction Fees</span>
					<p class="">On a win or a lose a transaction fee of 0.0001 is
						subtracted from the payment amount. If this makes the payment
						amount zero or less, the payment is set to 0.00005430. In the
						event that the transaction costs us more to send back to you, we
						pay the fee over 0.0001.</p>
				</article>
			</div>
		</div>
	</div>
</section>
<!--==============================End content================================-->
