<!DOCTYPE html>
<html lang="en">
<head>
{% include "templates/head.html" %}

<title>BITCOINPANDORA</title>
</head>
<body>
<div class="tail-top">
    <div class="main">
    {% include "templates/header.html" %}


        <div class="block1">
            <div class="padding1-block1">
                <div class="container_12">
                    <article class="grid_12">
<!--==============================navigation=================================-->  
                        <nav class="">
                            <ul class="sf-menu">
                                <li id="home_tab"><a class="current">Home<span></span></a></li>
                                <li id="howto_tab" class="last-item"><a >How to play<span></span></a></li>
                            </ul>
                            <div class="clear"></div>
                        </nav>
<!--==============================End navigation=================================-->

						<div style="min-height:580px;" id="tab_content">
							<figure class="indent-bot"><img src="/static/img/slide.jpg" width="940" height="480" alt=""></figure>
	                        <div class="wrapper">
	                        	<div class="grid_6 alpha">
	                            	<a href="http://howtobuybitcoins.info" target="blank"><img src="/static/img/page1-banner1.gif" width="460" height="80" alt=""></a>
	                            </div>
									<div id="banner_button" class="grid_6 omega">
										<img src="/static/img/page1-banner2.gif" width="460"
											height="80" alt="">
									</div>
								</div>
	                    </div>
                    </article>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
 
        <div class="block2">
                <div class="block2-border">
<!--==============================content================================-->
                <section id="content">
                    <div class="padding-content">
                    	<div class="container_12">
                        	<div class="wrapper">
                            	<article class="grid_8">
                                	<h3 class="spacing-bot">Bitcoinpandora News</h3>
                                    <div class="box">
                                    	<div class="padding-box">
                                        	<h4 class="p1">03-01-2014</h4>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo-<br>ris nisi ut aliquip ex ea. <a href="#" class="link-1"></a>
                                        </div>
                                    </div>
                                    <div class="box-1">
                                    	<div class="padding-box">
                                        	<h4 class="p1">02-01-2014</h4>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo-<br>ris nisi ut aliquip ex ea. <a href="#" class="link-1"></a>
                                        </div>
                                    </div>
                                    <div class="box">
                                    	<div class="padding-box">
                                        	<h4 class="p1">01-01-2014</h4>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo-<br>ris nisi ut aliquip ex ea. <a href="#" class="link-1"></a>
                                        </div>
                                    </div>
                                </article>
                                <article class="grid_4">
                                	<h3 class="p2">Links</h3>
                                    <ul class="list-1 p3">
                                    	<li><a href="#">How To Play</a></li>
                                        <li><a href="#">Who are We</a></li>
                                        <li><a href="#">New Games</a></li>
                                        <li class="last-item"><a href="#">Support</a></li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>
                </section>
<!--==============================End content================================-->
            
            {% include "templates/footer.html" %}

            </div>
        </div>
    </div>
</div>
</body>
</html>