<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">    
    <script src="js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="js/ff_cash.js" type="text/javascript"></script>
    <script src="js/superfish.js" type="text/javascript"></script>
    <script src="js/forms.js" type="text/javascript"></script>
    <script src="js/cufon-yui.js" type="text/javascript"></script>
    <script src="js/cufon-replace.js" type="text/javascript"></script>
    <script src="js/Bebas_400.font.js" type="text/javascript"></script>
    <script src="js/Oswald_400.font.js" type="text/javascript"></script>
    <script src="js/Six_Caps_400.font.js" type="text/javascript"></script>
	<!--[if lt IE 7]> 
  <div style='clear:both; text-align:center; position:relative;'><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img                       src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a  faster, safer browsing experience, upgrade for free today." /></a></div>
 <![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
	<![endif]-->
</head>
<body>
<div class="tail-top">
    <div class="main">
<!--==============================header=================================-->
        <header>
            <h1><a href="index.html">POKER HOUSE</a></h1>
            <div class="links-1">
            	<strong class="text-1">Toll-Free:</strong>
                <strong class="text-2">(123)45678901</strong>
            </div>
            <a href="#" class="links-2">
            	<strong class="text-1">Email Customer</strong>
                <strong class="text-2">Support</strong>
            </a>
        </header>
<!--==============================End header=================================-->

        <div class="block1">
            <div class="padding-block1">
                <div class="container_12">
                    <article class="grid_12">
<!--==============================navigation=================================-->  
                        <nav class="margin-bot">
                            <ul class="sf-menu">
                                <li><a class="current" href="index.html">Home<span></span></a></li>
                                <li><a href="room010.html">Room 0.10<span></span></a></li>
                                <li><a href="room020.html">Room 0.20<span></span></a></li>
                                <li><a href="room050.html">Room 0.50<span></span></a></li>
                                <li><a href="room100.html">Room 1.00<span></span></a></li>
                                <li><a href="room200.html">Room 2.00<span></span></a></li>
                                <li class="last-item"><a href="howtoplay.html">How to play<span></span></a></li>
                            </ul>
                            <div class="clear"></div>
                        </nav>
<!--==============================End navigation=================================-->
                    </article>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
 
        <div class="block2">
                <div class="block2-border">
<!--==============================content================================-->
                <section id="content">
                    <div class="padding2-content">
                    	<div class="container_12">
                        	<div class="wrapper">
                            	<article class="grid_10 suffix_2">
                                	<h3 class="p3">Privacy Policy</h3>
                                    <span class="color-2">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor.</span>
                                    <p class="">Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Nulla venenatis. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Sed in lacus ut enim adipiscing aliquet.</p>
                                    <span class="color-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Aenean nonummy hendrerit mauris.</span>
                                    <p class="">Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                    <span class="color-2">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</span>
                                    <p class="">Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                    <span class="color-2">Pellentesque sed dolor.  Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                                    <p class="">Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Nulla venenatis.  Vestibulum sed ante. Donec sagittis euismod purus.</p>
                                    <span class="color-2">Praesent vestibulum molestie lacus.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                                    <p class="">Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                    E-mail: <a href="#" class="link">info@demolink.org</a>
                                </article>
                            </div>
                        </div>
                    </div>
                </section>
<!--==============================End content================================-->
            
<!--==============================footer=================================-->
                <footer>
                	<div class="container_12">
                        <div class="wrapper">
                            <article class="grid_12">
                                <ul class="menu-bot p1">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="index-1.html">Download Casino</a></li>
                                    <li><a href="index-2.html">Casino Games</a></li>
                                    <li><a href="index-3.html">Players Club</a></li>
                                    <li><a href="index-4.html">Banking</a></li>
                                    <li><a href="index-5.html">Tournaments</a></li>
                                    <li><a href="index-6.html">Promotions</a></li>
                                    <li><a href="index-7.html">Contacts</a></li>                                                                         
                                </ul>
                                <div class="text-bot">
                                    Poker House &copy; 2011 <a href="index-8.html">Privacy Policy</a> 
                                </div>
                            </article>
                        </div>
                    </div>
                </footer>
<!--==============================End footer=================================-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!--coded by Dima_Dance -->
</body>
</html>