<section id="content">
	<div class="padding-content">
		<div class="container_12">
			<div class="wrapper">
				<article class="grid_12">
					<h3 class="spacing-bot">Welcome to Room <span id="room_price">0.10</span> BTC</h3>
					<div class="box indent-bot">
						<div class="padding5-box">
							<div class="padding-left p2">
								<h4>Pick your seat number</h4>
							</div>
							<table class="table-2">
								<tr>
									<th class="col-1">SEAT Number</th>
									<th class="col-2">Bitcoin Amount</th>
									<th class="col-2">Available</th>
									<th class="col-2">Play</th>
								</tr>
								<tr>
									<td class="col-1">#1</td>
									<td class="col-2">0.10</td>
									<td class="col-2">Occupied</td>
									<td class="col-2">X</td>
								</tr>
								<tr>
									<td class="col-1">#2</td>
									<td class="col-2">0.10</td>
									<td class="col-2">Occupied</td>
									<td class="col-2">X</td>
								</tr>
								<tr>
									<td class="col-1">#3</td>
									<td class="col-2">0.10</td>
									<td class="col-2">Free</td>
									<td class="col-2">Take</td>
								</tr>
								<tr>
									<td class="col-1">#4</td>
									<td class="col-2">0.10</td>
									<td class="col-2">Occupied</td>
									<td class="col-2">X</td>
								</tr>
								<tr>
									<td class="col-1">#5</td>
									<td class="col-2">0.10</td>
									<td class="col-2">Free</td>
									<td class="col-2">Take</td>
								</tr>
								<tr>
									<td class="col-1">#6</td>
									<td class="col-2">0.10</td>
									<td class="col-2">Occupied</td>
									<td class="col-2">X</td>
								</tr>
								<tr>
									<td class="col-1">#7</td>
									<td class="col-2">0.10</td>
									<td class="col-2">Occupied</td>
									<td class="col-2">X</td>
								</tr>
								<tr>
									<td class="col-1">#8</td>
									<td class="col-2">0.10</td>
									<td class="col-2">Free</td>
									<td class="col-2">Take</td>
								</tr>
								<tr>
									<td class="col-1">#9</td>
									<td class="col-2">0.10</td>
									<td class="col-2">Occupied</td>
									<td class="col-2">X</td>
								</tr>
								<tr>
									<td class="col-1">#10</td>
									<td class="col-2">0.10</td>
									<td class="col-2">Free</td>
									<td class="col-2">Take</td>
								</tr>
							</table>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
<!--==============================End content================================-->
