<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">    
    <script src="js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="js/ff_cash.js" type="text/javascript"></script>
    <script src="js/superfish.js" type="text/javascript"></script>
    <script src="js/cufon-yui.js" type="text/javascript"></script>
    <script src="js/cufon-replace.js" type="text/javascript"></script>
    <script src="js/Bebas_400.font.js" type="text/javascript"></script>
    <script src="js/Oswald_400.font.js" type="text/javascript"></script>
    <script src="js/Six_Caps_400.font.js" type="text/javascript"></script>
    <script>
		$(document).ready(function(){
			$(".box").hover(function(){
				$(this).addClass("alt");
			}, function(){
				$(this).removeClass("alt");
			});
		});
	</script>         
	<!--[if lt IE 7]> 
  <div style='clear:both; text-align:center; position:relative;'><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img                       src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a  faster, safer browsing experience, upgrade for free today." /></a></div>
 <![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
	<![endif]-->
</head>
<body>
<div class="tail-top">
    <div class="main">
<!--==============================header=================================-->
        <header>
            <h1><a href="index.html">BITCOINPANDORA</a></h1>
            <div class="links-1">
            	<strong class="text-1">Choose your Room</strong>
                <strong class="text-2">And take a seat</strong>
            </div>
            <a href="mailto:bitcoindrop@neomailbox.ch" class="links-2">
            	<strong class="text-1">NEED HELP?</strong>
                <strong class="text-2">Support</strong>
            </a>
        </header>
<!--==============================End header=================================-->

        <div class="block1">
            <div class="padding-block1">
                <div class="container_12">
                    <article class="grid_12">
<!--==============================navigation=================================-->  
                        <nav class="margin-bot">
                            <ul class="sf-menu">
                                <li><a href="index.html">Home<span></span></a></li>
                                <li><a href="room010.html">Room 0.10<span></span></a></li>
                                <li><a href="room020.html">Room 0.20<span></span></a></li>
                                <li><a class="current" href="room050.html">Room 0.50<span></span></a></li>
                                <li><a href="room100.html">Room 1.00<span></span></a></li>
                                <li><a href="room200.html">Room 2.00<span></span></a></li>
                                <li class="last-item"><a href="howtoplay.html">How to play<span></span></a></li>
                            </ul>
                            <div class="clear"></div>
                        </nav>
<!--==============================End navigation=================================-->
                    </article>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
 
        <div class="block2">
                <div class="block2-border">
<!--==============================content================================-->
                <section id="content">
                    <div class="padding-content">
                    	<div class="container_12">
                        	<div class="wrapper">
                            	<article class="grid_12">
                                	<h3 class="spacing-bot">Welcome to Room 0.50 BTC</h3>
                                    <div class="box indent-bot">
                                    	<div class="padding5-box">
                                        	<div class="padding-left p2">
                                            	<h4>Pick your seat number</h4>
                                            </div>
                                            <center>
                                            <table class="table-2">
                                                <tr>
                                                	<th class="col-1">SEAT Number</th>
                                                    <th class="col-2">Bitcoin Amount</th>
                                                    <th class="col-2">Available</th>
                                                    <th class="col-2">Play</th>
                                                </tr>
                                                <tr>
                                                	<td class="col-1">#1</td>
                                                    <td class="col-2">0.50</td>
                                                    <td class="col-2">Occupied</td>
                                                    <td class="col-2">X</td>
                                                </tr>
                                                <tr>
                                                	<td class="col-1">#2</td>
                                                    <td class="col-2">0.50</td>
                                                    <td class="col-2">Occupied</td>
                                                    <td class="col-2">X</td>
                                                </tr>
                                                <tr>
                                                	<td class="col-1">#3</td>
                                                    <td class="col-2">0.50</td>
                                                    <td class="col-2">Free</td>
                                                    <td class="col-2">Take</td>
                                                </tr>
                                                <tr>
                                                	<td class="col-1">#4</td>
                                                    <td class="col-2">0.50</td>
                                                    <td class="col-2">Occupied</td>
                                                    <td class="col-2">X</td>
                                                </tr>
                                                <tr>
                                                	<td class="col-1">#5</td>
                                                    <td class="col-2">0.50</td>
                                                    <td class="col-2">Free</td>
                                                    <td class="col-2">Take</td>
                                                </tr>
                                                <tr>
                                                	<td class="col-1">#6</td>
                                                    <td class="col-2">0.50</td>
                                                    <td class="col-2">Occupied</td>
                                                    <td class="col-2">X</td>
                                                </tr>
                                                <tr>
                                                	<td class="col-1">#7</td>
                                                    <td class="col-2">0.50</td>
                                                    <td class="col-2">Occupied</td>
                                                    <td class="col-2">X</td>
                                                </tr>
                                                <tr>
                                                	<td class="col-1">#8</td>
                                                    <td class="col-2">0.50</td>
                                                    <td class="col-2">Free</td>
                                                    <td class="col-2">Take</td>
                                                </tr>
                                                <tr>
                                                	<td class="col-1">#9</td>
                                                    <td class="col-2">0.50</td>
                                                    <td class="col-2">Occupied</td>
                                                    <td class="col-2">X</td>
                                                </tr>
                                                <tr>
                                                	<td class="col-1">#10</td>
                                                    <td class="col-2">0.50</td>
                                                    <td class="col-2">Free</td>
                                                    <td class="col-2">Take</td>
                                                </tr>
                                            </table>
                                            </center>
                                        </div>
                                    </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </section>
<!--==============================End content================================-->
            
<!--==============================footer=================================-->
                <footer>
                	<div class="container_12">
                        <div class="wrapper">
                            <article class="grid_12">
                                <ul class="menu-bot p1">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="room010.html">Room 0.10</a></li>
                                    <li><a href="room020.html">Room 0.20</a></li>
                                    <li><a class="active" href="room050.html">Room 0.50</a></li>
                                    <li><a href="room100.html">Room 1.00</a></li>
                                    <li><a href="room200.html">Room 2.00</a></li>
                                    <li><a href="howtoplay.html">How to play</a></li>                                                                      
                                </ul>
                                <div class="wrapper">
                                    <div class="text-bot fleft">
                                        BITCOINPANDORA &copy; 2013 <a href="index-8.html">Privacy Policy</a> 
                                    </div>
                                    <div class="footer-link">
                                        <!-- {%FOOTER_LINK} -->
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </footer>
<!--==============================End footer=================================-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>